#container {
  display: flex;
  flex-direction: row;
    justify-content: ;

}

.item {
   width: 50px;
    height: 50px;
    margin: 10px;
    font-size: 2em;
    text-align:center;
  border-radius: 5px;
}

#item1 {
    background-color: #2b71f3;

}
#item2 {
    background-color: #f34e2b;

}
#item3 {
    background-color: #f3d32b;

}
#item4 {
    background-color: #8e2bf3;

}

